@media (prefers-reduced-motion: no-preference) {
  :root {
    --scrollType: smooth;
    scroll-behavior: var(--scrollType);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: initial;
  overflow: visible;
  position: relative;
  width: 100%;
}

#scrowl-player,
.lesson-wrapper {
  position: relative;
  z-index: 1;
}

.lesson-wrapper {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0.5em;
    margin: 0;

    .container-fluid {
      padding: 0;
    }

    &-light {
      background-color: var(--bs-gray-100);
    }
  }
}

.navbar + .lesson {
  padding-top: 5rem;
  min-height: 100vh;
}

.lesson {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  z-index: 0;

  .content-block-columns-container {
    display: flex !important;

    .cdx-quote__text {
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    .cdx-quote__caption {
      margin-left: 0.5rem;
    }
  }
}

.next-lesson-container {
  margin-top: 120px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 5em;

  button {
    height: 3em;
  }
}
